{
    "openapi": "3.0.1",
    "info": {
        "title": "Directory Audits API",
        "description": "Represents the audit logs generated by various activities within the Microsoft Entra tenant.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://graph.microsoft.com/v1.0",
            "description": "Graph Microsoft Base URL"
        }
    ],
    "paths": {
        "/auditLogs/directoryAudits": {
            "get": {
                "summary": "List directory audits",
                "description": "Retrieve a list of directory audit logs generated by various activities within the Microsoft Entra tenant.",
                "operationId": "Entra_DirectoryAudits_ListDirectoryAudits",
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "required": false,
                        "description": "Filter items by property values.",
                        "schema": {
                            "type": "string",
                            "example": "activityDateTime ge 2021-01-01T00:00:00Z",
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "description": "Show only the first n items.",
                        "schema": {
                            "type": "integer",
                            "example": 10,
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "description": "Order items by property values.",
                        "schema": {
                            "type": "string",
                            "example": "activityDateTime desc",
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "If successful, this method returns a 200 OK response code and a collection of directoryAudit objects in the response body.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "items": {
                                        "$ref": "#/components/schemas/DirectoryAudit"
                                    }
                                },
                                "examples": [
                                    {
                                        "summary": "Who created a group?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/auditLogs/directoryAudits?$filter=activityDisplayName eq 'Add group' and targetResources/any(r:r/type eq 'Group' and r/id eq 'grp1')&$orderBy=activityDateTime desc",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#auditlogs/directoryaudits",
                                                "value": [
                                                    {
                                                        "id": "id",
                                                        "category": "UserManagement",
                                                        "correlationId": "da159bfb-54fa-4092-8a38-6e1fa7870e30",
                                                        "result": "success",
                                                        "resultReason": "Successfully added member to group",
                                                        "activityDisplayName": "Add member to group",
                                                        "activityDateTime": "2018-01-09T21:20:02.7215374Z",
                                                        "loggedByService": "Core Directory",
                                                        "initiatedBy": {
                                                            "user": {
                                                                "id": "728309ae-1a37-4937-9afe-e35d964db09b",
                                                                "displayName": "Audry Oliver",
                                                                "userPrincipalName": "bob@wingtiptoysonline.com",
                                                                "ipAddress": "127.0.0.1"
                                                            },
                                                            "app": null
                                                        },
                                                        "targetResources": [
                                                            {
                                                                "id": "ef7e527d-6c92-4234-8c6d-cf6fdfb57f95",
                                                                "displayName": "Example.com",
                                                                "Type": "Group",
                                                                "modifiedProperties": [
                                                                    {
                                                                        "displayName": "Action Client Name",
                                                                        "oldValue": null,
                                                                        "newValue": "DirectorySync"
                                                                    }
                                                                ],
                                                                "groupType": "unifiedGroups"
                                                            },
                                                            {
                                                                "id": "1f0e98f5-3161-4c6b-9b50-d488572f2bb7",
                                                                "displayName": null,
                                                                "Type": "User",
                                                                "modifiedProperties": [],
                                                                "userPrincipalName": "bob@contoso.com"
                                                            }
                                                        ],
                                                        "additionalDetails": [
                                                            {
                                                                "key": "Additional Detail Name",
                                                                "value": "Additional Detail Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Who created a group?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/auditLogs/directoryAudits?$filter=activityDisplayName eq 'Add group' and targetResources/any(r:r/type eq 'Group' and displayName eq '<Group Name>')&$orderBy=activityDateTime desc",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#auditlogs/directoryaudits",
                                                "value": [
                                                    {
                                                        "id": "id",
                                                        "category": "UserManagement",
                                                        "correlationId": "da159bfb-54fa-4092-8a38-6e1fa7870e30",
                                                        "result": "success",
                                                        "resultReason": "Successfully added member to group",
                                                        "activityDisplayName": "Add member to group",
                                                        "activityDateTime": "2018-01-09T21:20:02.7215374Z",
                                                        "loggedByService": "Core Directory",
                                                        "initiatedBy": {
                                                            "user": {
                                                                "id": "728309ae-1a37-4937-9afe-e35d964db09b",
                                                                "displayName": "Audry Oliver",
                                                                "userPrincipalName": "bob@wingtiptoysonline.com",
                                                                "ipAddress": "127.0.0.1"
                                                            },
                                                            "app": null
                                                        },
                                                        "targetResources": [
                                                            {
                                                                "id": "ef7e527d-6c92-4234-8c6d-cf6fdfb57f95",
                                                                "displayName": "Example.com",
                                                                "Type": "Group",
                                                                "modifiedProperties": [
                                                                    {
                                                                        "displayName": "Action Client Name",
                                                                        "oldValue": null,
                                                                        "newValue": "DirectorySync"
                                                                    }
                                                                ],
                                                                "groupType": "unifiedGroups"
                                                            },
                                                            {
                                                                "id": "1f0e98f5-3161-4c6b-9b50-d488572f2bb7",
                                                                "displayName": null,
                                                                "Type": "User",
                                                                "modifiedProperties": [],
                                                                "userPrincipalName": "bob@contoso.com"
                                                            }
                                                        ],
                                                        "additionalDetails": [
                                                            {
                                                                "key": "Additional Detail Name",
                                                                "value": "Additional Detail Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Recently created groups",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/auditLogs/directoryAudits?$filter=activityDisplayName eq 'Add group'&$orderBy=activityDateTime desc&$top=5",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#auditlogs/directoryaudits",
                                                "value": [
                                                    {
                                                        "id": "id",
                                                        "category": "UserManagement",
                                                        "correlationId": "da159bfb-54fa-4092-8a38-6e1fa7870e30",
                                                        "result": "success",
                                                        "resultReason": "Successfully added member to group",
                                                        "activityDisplayName": "Add member to group",
                                                        "activityDateTime": "2018-01-09T21:20:02.7215374Z",
                                                        "loggedByService": "Core Directory",
                                                        "initiatedBy": {
                                                            "user": {
                                                                "id": "728309ae-1a37-4937-9afe-e35d964db09b",
                                                                "displayName": "Audry Oliver",
                                                                "userPrincipalName": "bob@wingtiptoysonline.com",
                                                                "ipAddress": "127.0.0.1"
                                                            },
                                                            "app": null
                                                        },
                                                        "targetResources": [
                                                            {
                                                                "id": "ef7e527d-6c92-4234-8c6d-cf6fdfb57f95",
                                                                "displayName": "Example.com",
                                                                "Type": "Group",
                                                                "modifiedProperties": [
                                                                    {
                                                                        "displayName": "Action Client Name",
                                                                        "oldValue": null,
                                                                        "newValue": "DirectorySync"
                                                                    }
                                                                ],
                                                                "groupType": "unifiedGroups"
                                                            },
                                                            {
                                                                "id": "1f0e98f5-3161-4c6b-9b50-d488572f2bb7",
                                                                "displayName": null,
                                                                "Type": "User",
                                                                "modifiedProperties": [],
                                                                "userPrincipalName": "bob@contoso.com"
                                                            }
                                                        ],
                                                        "additionalDetails": [
                                                            {
                                                                "key": "Additional Detail Name",
                                                                "value": "Additional Detail Value"
                                                            }
                                                        ]
                                                    }
                                                ]

                                            }
                                        }
                                    },
                                    {
                                        "summary": "which users the user user1 added to group grp1?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/auditLogs/directoryAudits?$filter=activityDisplayName eq 'Add member to group' and initiatedBy/user/id eq 'user1' and targetResources/any(r:r/id eq 'grp1' and r/type eq 'Group')&$orderBy=activityDateTime desc",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#auditlogs/directoryaudits",
                                                "value": [
                                                    {
                                                        "id": "id",
                                                        "category": "UserManagement",
                                                        "correlationId": "da159bfb-54fa-4092-8a38-6e1fa7870e30",
                                                        "result": "success",
                                                        "resultReason": "Successfully added member to group",
                                                        "activityDisplayName": "Add member to group",
                                                        "activityDateTime": "2018-01-09T21:20:02.7215374Z",
                                                        "loggedByService": "Core Directory",
                                                        "initiatedBy": {
                                                            "user": {
                                                                "id": "728309ae-1a37-4937-9afe-e35d964db09b",
                                                                "displayName": "Audry Oliver",
                                                                "userPrincipalName": "bob@wingtiptoysonline.com",
                                                                "ipAddress": "127.0.0.1"
                                                            },
                                                            "app": null
                                                        },
                                                        "targetResources": [
                                                            {
                                                                "id": "ef7e527d-6c92-4234-8c6d-cf6fdfb57f95",
                                                                "displayName": "Example.com",
                                                                "Type": "Group",
                                                                "modifiedProperties": [
                                                                    {
                                                                        "displayName": "Action Client Name",
                                                                        "oldValue": null,
                                                                        "newValue": "DirectorySync"
                                                                    }
                                                                ],
                                                                "groupType": "unifiedGroups"
                                                            },
                                                            {
                                                                "id": "1f0e98f5-3161-4c6b-9b50-d488572f2bb7",
                                                                "displayName": null,
                                                                "Type": "User",
                                                                "modifiedProperties": [],
                                                                "userPrincipalName": "bob@contoso.com"
                                                            }
                                                        ],
                                                        "additionalDetails": [
                                                            {
                                                                "key": "Additional Detail Name",
                                                                "value": "Additional Detail Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "which users name@domain.com added to group grp1?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/auditLogs/directoryAudits?$filter=activityDisplayName eq 'Add member to group' and initiatedBy/user/userPrincipalName eq 'name@domain.com' and targetResources/any(r:r/id eq 'grp1' and r/type eq 'Group')&$orderBy=activityDateTime desc",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#auditlogs/directoryaudits",
                                                "value": [
                                                    {
                                                        "id": "id",
                                                        "category": "UserManagement",
                                                        "correlationId": "da159bfb-54fa-4092-8a38-6e1fa7870e30",
                                                        "result": "success",
                                                        "resultReason": "Successfully added member to group",
                                                        "activityDisplayName": "Add member to group",
                                                        "activityDateTime": "2018-01-09T21:20:02.7215374Z",
                                                        "loggedByService": "Core Directory",
                                                        "initiatedBy": {
                                                            "user": {
                                                                "id": "728309ae-1a37-4937-9afe-e35d964db09b",
                                                                "displayName": "Audry Oliver",
                                                                "userPrincipalName": "bob@wingtiptoysonline.com",
                                                                "ipAddress": "127.0.0.1"
                                                            },
                                                            "app": null
                                                        },
                                                        "targetResources": [
                                                            {
                                                                "id": "ef7e527d-6c92-4234-8c6d-cf6fdfb57f95",
                                                                "displayName": "Example.com",
                                                                "Type": "Group",
                                                                "modifiedProperties": [
                                                                    {
                                                                        "displayName": "Action Client Name",
                                                                        "oldValue": null,
                                                                        "newValue": "DirectorySync"
                                                                    }
                                                                ],
                                                                "groupType": "unifiedGroups"
                                                            },
                                                            {
                                                                "id": "1f0e98f5-3161-4c6b-9b50-d488572f2bb7",
                                                                "displayName": null,
                                                                "Type": "User",
                                                                "modifiedProperties": [],
                                                                "userPrincipalName": "bob@contoso.com"
                                                            }
                                                        ],
                                                        "additionalDetails": [
                                                            {
                                                                "key": "Additional Detail Name",
                                                                "value": "Additional Detail Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "who added users to the group grp1",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/auditLogs/directoryAudits?$filter=activityDisplayName eq 'Add member to group' and targetResources/any(r:r/id eq 'grp1' and r/type eq 'Group')&$orderBy=activityDateTime desc",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#auditlogs/directoryaudits",
                                                "value": [
                                                    {
                                                        "id": "id",
                                                        "category": "UserManagement",
                                                        "correlationId": "da159bfb-54fa-4092-8a38-6e1fa7870e30",
                                                        "result": "success",
                                                        "resultReason": "Successfully added member to group",
                                                        "activityDisplayName": "Add member to group",
                                                        "activityDateTime": "2018-01-09T21:20:02.7215374Z",
                                                        "loggedByService": "Core Directory",
                                                        "initiatedBy": {
                                                            "user": {
                                                                "id": "728309ae-1a37-4937-9afe-e35d964db09b",
                                                                "displayName": "Audry Oliver",
                                                                "userPrincipalName": "bob@wingtiptoysonline.com",
                                                                "ipAddress": "127.0.0.1"
                                                            },
                                                            "app": null
                                                        },
                                                        "targetResources": [
                                                            {
                                                                "id": "ef7e527d-6c92-4234-8c6d-cf6fdfb57f95",
                                                                "displayName": "Example.com",
                                                                "Type": "Group",
                                                                "modifiedProperties": [
                                                                    {
                                                                        "displayName": "Action Client Name",
                                                                        "oldValue": null,
                                                                        "newValue": "DirectorySync"
                                                                    }
                                                                ],
                                                                "groupType": "unifiedGroups"
                                                            },
                                                            {
                                                                "id": "1f0e98f5-3161-4c6b-9b50-d488572f2bb7",
                                                                "displayName": null,
                                                                "Type": "User",
                                                                "modifiedProperties": [],
                                                                "userPrincipalName": "bob@contoso.com"
                                                            }
                                                        ],
                                                        "additionalDetails": [
                                                            {
                                                                "key": "Additional Detail Name",
                                                                "value": "Additional Detail Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "who was recently added to group grp1?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/auditLogs/directoryAudits?$filter=activityDisplayName eq 'Add member to group' and targetResources/any(r:r/id eq 'grp1') and activityDateTime ge <TODAY-7d>&$orderBy=activityDateTime desc",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#auditlogs/directoryaudits",
                                                "value": [
                                                    {
                                                        "id": "id",
                                                        "category": "UserManagement",
                                                        "correlationId": "da159bfb-54fa-4092-8a38-6e1fa7870e30",
                                                        "result": "success",
                                                        "resultReason": "Successfully added member to group",
                                                        "activityDisplayName": "Add member to group",
                                                        "activityDateTime": "2018-01-09T21:20:02.7215374Z",
                                                        "loggedByService": "Core Directory",
                                                        "initiatedBy": {
                                                            "user": {
                                                                "id": "728309ae-1a37-4937-9afe-e35d964db09b",
                                                                "displayName": "Audry Oliver",
                                                                "userPrincipalName": "bob@wingtiptoysonline.com",
                                                                "ipAddress": "127.0.0.1"
                                                            },
                                                            "app": null
                                                        },
                                                        "targetResources": [
                                                            {
                                                                "id": "ef7e527d-6c92-4234-8c6d-cf6fdfb57f95",
                                                                "displayName": "Example.com",
                                                                "Type": "Group",
                                                                "modifiedProperties": [
                                                                    {
                                                                        "displayName": "Action Client Name",
                                                                        "oldValue": null,
                                                                        "newValue": "DirectorySync"
                                                                    }
                                                                ],
                                                                "groupType": "unifiedGroups"
                                                            },
                                                            {
                                                                "id": "1f0e98f5-3161-4c6b-9b50-d488572f2bb7",
                                                                "displayName": null,
                                                                "Type": "User",
                                                                "modifiedProperties": [],
                                                                "userPrincipalName": "bob@contoso.com"
                                                            }
                                                        ],
                                                        "additionalDetails": [
                                                            {
                                                                "key": "Additional Detail Name",
                                                                "value": "Additional Detail Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "who added user user1 to group grp1?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/auditLogs/directoryAudits?$filter=activityDisplayName eq 'Add member to group' and targetResources/any(r:r/id eq 'user1' and r/type eq 'User') and targetResources/any(r:r/id eq 'grp1' and r/type eq 'Group')&$orderBy=activityDateTime desc",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#auditlogs/directoryaudits",
                                                "value": [
                                                    {
                                                        "id": "id",
                                                        "category": "UserManagement",
                                                        "correlationId": "da159bfb-54fa-4092-8a38-6e1fa7870e30",
                                                        "result": "success",
                                                        "resultReason": "Successfully added member to group",
                                                        "activityDisplayName": "Add member to group",
                                                        "activityDateTime": "2018-01-09T21:20:02.7215374Z",
                                                        "loggedByService": "Core Directory",
                                                        "initiatedBy": {
                                                            "user": {
                                                                "id": "728309ae-1a37-4937-9afe-e35d964db09b",
                                                                "displayName": "Audry Oliver",
                                                                "userPrincipalName": "bob@wingtiptoysonline.com",
                                                                "ipAddress": "127.0.0.1"
                                                            },
                                                            "app": null
                                                        },
                                                        "targetResources": [
                                                            {
                                                                "id": "ef7e527d-6c92-4234-8c6d-cf6fdfb57f95",
                                                                "displayName": "Example.com",
                                                                "Type": "Group",
                                                                "modifiedProperties": [
                                                                    {
                                                                        "displayName": "Action Client Name",
                                                                        "oldValue": null,
                                                                        "newValue": "DirectorySync"
                                                                    }
                                                                ],
                                                                "groupType": "unifiedGroups"
                                                            },
                                                            {
                                                                "id": "1f0e98f5-3161-4c6b-9b50-d488572f2bb7",
                                                                "displayName": null,
                                                                "Type": "User",
                                                                "modifiedProperties": [],
                                                                "userPrincipalName": "bob@contoso.com"
                                                            }
                                                        ],
                                                        "additionalDetails": [
                                                            {
                                                                "key": "Additional Detail Name",
                                                                "value": "Additional Detail Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "when user user1 was added to group grp1?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/auditLogs/directoryAudits?$filter=activityDisplayName eq 'Add member to group' and targetResources/any(r:r/id eq 'user1' and r/type eq 'User') and targetResources/any(r:r/id eq 'grp1' and r/type eq 'Group')&$orderBy=activityDateTime desc",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#auditlogs/directoryaudits",
                                                "value": [
                                                    {
                                                        "id": "id",
                                                        "category": "UserManagement",
                                                        "correlationId": "da159bfb-54fa-4092-8a38-6e1fa7870e30",
                                                        "result": "success",
                                                        "resultReason": "Successfully added member to group",
                                                        "activityDisplayName": "Add member to group",
                                                        "activityDateTime": "2018-01-09T21:20:02.7215374Z",
                                                        "loggedByService": "Core Directory",
                                                        "initiatedBy": {
                                                            "user": {
                                                                "id": "728309ae-1a37-4937-9afe-e35d964db09b",
                                                                "displayName": "Audry Oliver",
                                                                "userPrincipalName": "bob@wingtiptoysonline.com",
                                                                "ipAddress": "127.0.0.1"
                                                            },
                                                            "app": null
                                                        },
                                                        "targetResources": [
                                                            {
                                                                "id": "ef7e527d-6c92-4234-8c6d-cf6fdfb57f95",
                                                                "displayName": "Example.com",
                                                                "Type": "Group",
                                                                "modifiedProperties": [
                                                                    {
                                                                        "displayName": "Action Client Name",
                                                                        "oldValue": null,
                                                                        "newValue": "DirectorySync"
                                                                    }
                                                                ],
                                                                "groupType": "unifiedGroups"
                                                            },
                                                            {
                                                                "id": "1f0e98f5-3161-4c6b-9b50-d488572f2bb7",
                                                                "displayName": null,
                                                                "Type": "User",
                                                                "modifiedProperties": [],
                                                                "userPrincipalName": "bob@contoso.com"
                                                            }
                                                        ],
                                                        "additionalDetails": [
                                                            {
                                                                "key": "Additional Detail Name",
                                                                "value": "Additional Detail Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "when was the last user added to group grp1?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/auditLogs/directoryAudits?$filter=activityDisplayName eq 'Add member to group' and targetResources/any(r:r/type eq 'User') and targetResources/any(r:r/id eq 'grp1')&$orderBy=activityDateTime desc&$top=1",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#auditlogs/directoryaudits",
                                                "value": [
                                                    {
                                                        "id": "id",
                                                        "category": "UserManagement",
                                                        "correlationId": "da159bfb-54fa-4092-8a38-6e1fa7870e30",
                                                        "result": "success",
                                                        "resultReason": "Successfully added member to group",
                                                        "activityDisplayName": "Add member to group",
                                                        "activityDateTime": "2018-01-09T21:20:02.7215374Z",
                                                        "loggedByService": "Core Directory",
                                                        "initiatedBy": {
                                                            "user": {
                                                                "id": "728309ae-1a37-4937-9afe-e35d964db09b",
                                                                "displayName": "Audry Oliver",
                                                                "userPrincipalName": "bob@wingtiptoysonline.com",
                                                                "ipAddress": "127.0.0.1"
                                                            },
                                                            "app": null
                                                        },
                                                        "targetResources": [
                                                            {
                                                                "id": "ef7e527d-6c92-4234-8c6d-cf6fdfb57f95",
                                                                "displayName": "Example.com",
                                                                "Type": "Group",
                                                                "modifiedProperties": [
                                                                    {
                                                                        "displayName": "Action Client Name",
                                                                        "oldValue": null,
                                                                        "newValue": "DirectorySync"
                                                                    }
                                                                ],
                                                                "groupType": "unifiedGroups"
                                                            },
                                                            {
                                                                "id": "1f0e98f5-3161-4c6b-9b50-d488572f2bb7",
                                                                "displayName": null,
                                                                "Type": "User",
                                                                "modifiedProperties": [],
                                                                "userPrincipalName": "bob@contoso.com"
                                                            }
                                                        ],
                                                        "additionalDetails": [
                                                            {
                                                                "key": "Additional Detail Name",
                                                                "value": "Additional Detail Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "when name@domain.com was added to group grp1?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/auditLogs/directoryAudits?$filter=activityDisplayName eq 'Add member to group' and targetResources/any(r:r/userPrincipalName eq 'name@domain.com') and targetResources/any(r:r/id eq 'grp1' and r/type eq 'Group')&$orderBy=activityDateTime desc",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#auditlogs/directoryaudits",
                                                "value": [
                                                    {
                                                        "id": "id",
                                                        "category": "UserManagement",
                                                        "correlationId": "da159bfb-54fa-4092-8a38-6e1fa7870e30",
                                                        "result": "success",
                                                        "resultReason": "Successfully added member to group",
                                                        "activityDisplayName": "Add member to group",
                                                        "activityDateTime": "2018-01-09T21:20:02.7215374Z",
                                                        "loggedByService": "Core Directory",
                                                        "initiatedBy": {
                                                            "user": {
                                                                "id": "728309ae-1a37-4937-9afe-e35d964db09b",
                                                                "displayName": "Audry Oliver",
                                                                "userPrincipalName": "bob@wingtiptoysonline.com",
                                                                "ipAddress": "127.0.0.1"
                                                            },
                                                            "app": null
                                                        },
                                                        "targetResources": [
                                                            {
                                                                "id": "ef7e527d-6c92-4234-8c6d-cf6fdfb57f95",
                                                                "displayName": "Example.com",
                                                                "Type": "Group",
                                                                "modifiedProperties": [
                                                                    {
                                                                        "displayName": "Action Client Name",
                                                                        "oldValue": null,
                                                                        "newValue": "DirectorySync"
                                                                    }
                                                                ],
                                                                "groupType": "unifiedGroups"
                                                            },
                                                            {
                                                                "id": "1f0e98f5-3161-4c6b-9b50-d488572f2bb7",
                                                                "displayName": null,
                                                                "Type": "User",
                                                                "modifiedProperties": [],
                                                                "userPrincipalName": "bob@contoso.com"
                                                            }
                                                        ],
                                                        "additionalDetails": [
                                                            {
                                                                "key": "Additional Detail Name",
                                                                "value": "Additional Detail Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "When was the group GroupName last modified?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/auditLogs/directoryAudits?$filter=targetResources/any(r:r/type eq 'Group' and r/displayName eq 'GroupName')&$orderBy=activityDateTime desc&$top=1",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#auditlogs/directoryaudits",
                                                "value": [
                                                    {
                                                        "id": "id",
                                                        "category": "UserManagement",
                                                        "correlationId": "da159bfb-54fa-4092-8a38-6e1fa7870e30",
                                                        "result": "success",
                                                        "resultReason": "Successfully added member to group",
                                                        "activityDisplayName": "Add member to group",
                                                        "activityDateTime": "2018-01-09T21:20:02.7215374Z",
                                                        "loggedByService": "Core Directory",
                                                        "initiatedBy": {
                                                            "user": {
                                                                "id": "728309ae-1a37-4937-9afe-e35d964db09b",
                                                                "displayName": "Audry Oliver",
                                                                "userPrincipalName": "bob@wingtiptoysonline.com",
                                                                "ipAddress": "127.0.0.1"
                                                            },
                                                            "app": null
                                                        },
                                                        "targetResources": [
                                                            {
                                                                "id": "ef7e527d-6c92-4234-8c6d-cf6fdfb57f95",
                                                                "displayName": "Example.com",
                                                                "Type": "Group",
                                                                "modifiedProperties": [
                                                                    {
                                                                        "displayName": "Action Client Name",
                                                                        "oldValue": null,
                                                                        "newValue": "DirectorySync"
                                                                    }
                                                                ],
                                                                "groupType": "unifiedGroups"
                                                            },
                                                            {
                                                                "id": "1f0e98f5-3161-4c6b-9b50-d488572f2bb7",
                                                                "displayName": null,
                                                                "Type": "User",
                                                                "modifiedProperties": [],
                                                                "userPrincipalName": "bob@contoso.com"
                                                            }
                                                        ],
                                                        "additionalDetails": [
                                                            {
                                                                "key": "Additional Detail Name",
                                                                "value": "Additional Detail Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "When was the group grp1 last modified?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/auditLogs/directoryAudits?$filter=targetResources/any(r:r/type eq 'Group' and r/id eq '<group-id>')&$orderBy=activityDateTime desc&$top=1",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#auditlogs/directoryaudits",
                                                "value": [
                                                    {
                                                        "id": "id",
                                                        "category": "UserManagement",
                                                        "correlationId": "da159bfb-54fa-4092-8a38-6e1fa7870e30",
                                                        "result": "success",
                                                        "resultReason": "Successfully added member to group",
                                                        "activityDisplayName": "Add member to group",
                                                        "activityDateTime": "2018-01-09T21:20:02.7215374Z",
                                                        "loggedByService": "Core Directory",
                                                        "initiatedBy": {
                                                            "user": {
                                                                "id": "728309ae-1a37-4937-9afe-e35d964db09b",
                                                                "displayName": "Audry Oliver",
                                                                "userPrincipalName": "bob@wingtiptoysonline.com",
                                                                "ipAddress": "127.0.0.1"
                                                            },
                                                            "app": null
                                                        },
                                                        "targetResources": [
                                                            {
                                                                "id": "ef7e527d-6c92-4234-8c6d-cf6fdfb57f95",
                                                                "displayName": "Example.com",
                                                                "Type": "Group",
                                                                "modifiedProperties": [
                                                                    {
                                                                        "displayName": "Action Client Name",
                                                                        "oldValue": null,
                                                                        "newValue": "DirectorySync"
                                                                    }
                                                                ],
                                                                "groupType": "unifiedGroups"
                                                            },
                                                            {
                                                                "id": "1f0e98f5-3161-4c6b-9b50-d488572f2bb7",
                                                                "displayName": null,
                                                                "Type": "User",
                                                                "modifiedProperties": [],
                                                                "userPrincipalName": "bob@contoso.com"
                                                            }
                                                        ],
                                                        "additionalDetails": [
                                                            {
                                                                "key": "Additional Detail Name",
                                                                "value": "Additional Detail Value"
                                                            }
                                                        ]
                                                    }
                                                ]

                                            }
                                        }
                                    },
                                    {
                                        "summary": "When Name Surname was added to GroupName group?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/auditLogs/directoryAudits?$filter=activityDisplayName eq 'Add member to group' and targetResources/any(r:r/id eq 'user1' and r/type eq 'User') and targetResources/any(r:r/id eq 'grp1' and r/type eq 'Group')&$orderBy=activityDateTime desc&$top=1",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#auditlogs/directoryaudits",
                                                "value": [
                                                    {
                                                        "id": "id",
                                                        "category": "UserManagement",
                                                        "correlationId": "da159bfb-54fa-4092-8a38-6e1fa7870e30",
                                                        "result": "success",
                                                        "resultReason": "Successfully added member to group",
                                                        "activityDisplayName": "Add member to group",
                                                        "activityDateTime": "2018-01-09T21:20:02.7215374Z",
                                                        "loggedByService": "Core Directory",
                                                        "initiatedBy": {
                                                            "user": {
                                                                "id": "728309ae-1a37-4937-9afe-e35d964db09b",
                                                                "displayName": "Audry Oliver",
                                                                "userPrincipalName": "bob@wingtiptoysonline.com",
                                                                "ipAddress": "127.0.0.1"
                                                            },
                                                            "app": null
                                                        },
                                                        "targetResources": [
                                                            {
                                                                "id": "ef7e527d-6c92-4234-8c6d-cf6fdfb57f95",
                                                                "displayName": "Example.com",
                                                                "Type": "Group",
                                                                "modifiedProperties": [
                                                                    {
                                                                        "displayName": "Action Client Name",
                                                                        "oldValue": null,
                                                                        "newValue": "DirectorySync"
                                                                    }
                                                                ],
                                                                "groupType": "unifiedGroups"
                                                            },
                                                            {
                                                                "id": "1f0e98f5-3161-4c6b-9b50-d488572f2bb7",
                                                                "displayName": null,
                                                                "Type": "User",
                                                                "modifiedProperties": [],
                                                                "userPrincipalName": "bob@contoso.com"
                                                            }
                                                        ],
                                                        "additionalDetails": [
                                                            {
                                                                "key": "Additional Detail Name",
                                                                "value": "Additional Detail Value"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "graph_auth_obo": [
                            "https://graph.microsoft.com/.default"
                        ]
                    }
                ]
            }
        },
        "/groups": {
            "get": {
                "summary": "Get groups",
                "description": "Retrieve a list of groups in the directory.",
                "operationId": "Entra_DirectoryAudits_GetGroups",
                "parameters": [
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "description": "Show only the first n items.",
                        "schema": {
                            "type": "integer",
                            "example": 10,
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "required": false,
                        "description": "Order items by property values.",
                        "schema": {
                            "type": "string",
                            "example": "activityDateTime desc",
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "required": false,
                        "description": "Specifies the properties to be included in the response.",
                        "schema": {
                            "type": "string",
                            "example": "id,activityDisplayName,activityDateTime",
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    },
                    {
                        "name": "$count",
                        "in": "query",
                        "required": false,
                        "description": "Indicates whether the total count of items should be included in the response.",
                        "schema": {
                            "type": "boolean",
                            "example": true,
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    },
                    {
                        "name": "$search",
                        "in": "query",
                        "required": false,
                        "description": "A search expression to filter the results.",
                        "schema": {
                            "type": "string",
                            "example": "\"displayName:example\"",
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "If successful, this method returns a 200 OK response code and collection of group objects in the response body. The response includes only the default properties of each group.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "items": {
                                        "$ref": "#/components/schemas/Groups"
                                    }
                                },
                                "examples": [
                                    {
                                        "summary": "recently created groups",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$orderBy=createdDateTime&$top=5&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#auditlogs/directoryaudits",
                                                "value": [
                                                    {
                                                        "id": "45b7d2e7-b882-4a80-ba97-10b7a63b8fa4",
                                                        "deletedDateTime": null,
                                                        "classification": null,
                                                        "createdDateTime": "2018-12-22T02:21:05Z",
                                                        "description": "Self help community for golf",
                                                        "displayName": "Golf Assist",
                                                        "expirationDateTime": null,
                                                        "groupTypes": [
                                                            "Unified"
                                                        ],
                                                        "isAssignableToRole": null,
                                                        "mail": "golfassist@contoso.com",
                                                        "mailEnabled": true,
                                                        "mailNickname": "golfassist",
                                                        "membershipRule": null,
                                                        "membershipRuleProcessingState": null,
                                                        "onPremisesLastSyncDateTime": null,
                                                        "onPremisesSecurityIdentifier": null,
                                                        "onPremisesSyncEnabled": null,
                                                        "preferredDataLocation": "CAN",
                                                        "preferredLanguage": null,
                                                        "proxyAddresses": [
                                                            "smtp:golfassist@contoso.com",
                                                            "SMTP:golfassist@contoso.com"
                                                        ],
                                                        "renewedDateTime": "2018-12-22T02:21:05Z",
                                                        "resourceBehaviorOptions": [],
                                                        "resourceProvisioningOptions": [],
                                                        "securityEnabled": false,
                                                        "theme": null,
                                                        "visibility": "Public",
                                                        "onPremisesProvisioningErrors": []
                                                    },
                                                    {
                                                        "id": "d7797254-3084-44d0-99c9-a3b5ab149538",
                                                        "deletedDateTime": null,
                                                        "classification": null,
                                                        "createdDateTime": "2018-11-19T20:29:40Z",
                                                        "description": "Talk about golf",
                                                        "displayName": "Golf Discussion",
                                                        "expirationDateTime": null,
                                                        "groupTypes": [],
                                                        "isAssignableToRole": null,
                                                        "mail": "golftalk@contoso.com",
                                                        "mailEnabled": true,
                                                        "mailNickname": "golftalk",
                                                        "membershipRule": null,
                                                        "membershipRuleProcessingState": null,
                                                        "onPremisesLastSyncDateTime": null,
                                                        "onPremisesSecurityIdentifier": null,
                                                        "onPremisesSyncEnabled": null,
                                                        "preferredDataLocation": "CAN",
                                                        "preferredLanguage": null,
                                                        "proxyAddresses": [
                                                            "smtp:golftalk@contoso.com",
                                                            "SMTP:golftalk@contoso.com"
                                                        ],
                                                        "renewedDateTime": "2018-11-19T20:29:40Z",
                                                        "resourceBehaviorOptions": [],
                                                        "resourceProvisioningOptions": [],
                                                        "securityEnabled": false,
                                                        "serviceProvisioningErrors": [],
                                                        "theme": null,
                                                        "visibility": null,
                                                        "onPremisesProvisioningErrors": []
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "When Name Surname was added to GroupName group?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#auditlogs/directoryaudits",
                                                "value": [
                                                    {
                                                        "id": "45b7d2e7-b882-4a80-ba97-10b7a63b8fa4",
                                                        "deletedDateTime": null,
                                                        "classification": null,
                                                        "createdDateTime": "2018-12-22T02:21:05Z",
                                                        "description": "Self help community for golf",
                                                        "displayName": "Golf Assist",
                                                        "expirationDateTime": null,
                                                        "groupTypes": [
                                                            "Unified"
                                                        ],
                                                        "isAssignableToRole": null,
                                                        "mail": "golfassist@contoso.com",
                                                        "mailEnabled": true,
                                                        "mailNickname": "golfassist",
                                                        "membershipRule": null,
                                                        "membershipRuleProcessingState": null,
                                                        "onPremisesLastSyncDateTime": null,
                                                        "onPremisesSecurityIdentifier": null,
                                                        "onPremisesSyncEnabled": null,
                                                        "preferredDataLocation": "CAN",
                                                        "preferredLanguage": null,
                                                        "proxyAddresses": [
                                                            "smtp:golfassist@contoso.com",
                                                            "SMTP:golfassist@contoso.com"
                                                        ],
                                                        "renewedDateTime": "2018-12-22T02:21:05Z",
                                                        "resourceBehaviorOptions": [],
                                                        "resourceProvisioningOptions": [],
                                                        "securityEnabled": false,
                                                        "theme": null,
                                                        "visibility": "Public",
                                                        "onPremisesProvisioningErrors": []
                                                    },
                                                    {
                                                        "id": "d7797254-3084-44d0-99c9-a3b5ab149538",
                                                        "deletedDateTime": null,
                                                        "classification": null,
                                                        "createdDateTime": "2018-11-19T20:29:40Z",
                                                        "description": "Talk about golf",
                                                        "displayName": "Golf Discussion",
                                                        "expirationDateTime": null,
                                                        "groupTypes": [],
                                                        "isAssignableToRole": null,
                                                        "mail": "golftalk@contoso.com",
                                                        "mailEnabled": true,
                                                        "mailNickname": "golftalk",
                                                        "membershipRule": null,
                                                        "membershipRuleProcessingState": null,
                                                        "onPremisesLastSyncDateTime": null,
                                                        "onPremisesSecurityIdentifier": null,
                                                        "onPremisesSyncEnabled": null,
                                                        "preferredDataLocation": "CAN",
                                                        "preferredLanguage": null,
                                                        "proxyAddresses": [
                                                            "smtp:golftalk@contoso.com",
                                                            "SMTP:golftalk@contoso.com"
                                                        ],
                                                        "renewedDateTime": "2018-11-19T20:29:40Z",
                                                        "resourceBehaviorOptions": [],
                                                        "resourceProvisioningOptions": [],
                                                        "securityEnabled": false,
                                                        "serviceProvisioningErrors": [],
                                                        "theme": null,
                                                        "visibility": null,
                                                        "onPremisesProvisioningErrors": []
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "graph_auth_obo": [
                            "https://graph.microsoft.com/.default"
                        ]
                    }
                ]
            }
        },
        "/users": {
            "get": {
                "summary": "List users",
                "description": "Retrieve a list of users in the directory. This includes details such as user ID, display name, mail, user principal name, and other properties.",
                "operationId": "Entra_DirectoryAudits_GetUsers",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "required": false,
                        "description": "Specifies the properties to be included in the response.",
                        "schema": {
                            "type": "string",
                            "example": "id,activityDisplayName,activityDateTime",
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    },
                    {
                        "name": "$count",
                        "in": "query",
                        "required": false,
                        "description": "Indicates whether the total count of items should be included in the response.",
                        "schema": {
                            "type": "boolean",
                            "example": true,
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    },
                    {
                        "name": "$search",
                        "in": "query",
                        "required": false,
                        "description": "A search expression to filter the results.",
                        "schema": {
                            "type": "string",
                            "example": "\"displayName:example\"",
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "If successful, this method returns a 200 OK response code and a collection of directoryAudit objects in the response body.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "items": {
                                        "$ref": "#/components/schemas/Users"
                                    }
                                },
                                "examples": [
                                    {
                                        "summary": "When Name Surname was added to GroupName group?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/users?$count=true&$search=\"displayName:Name Surname\"&$select=id,displayName,userPrincipalName,mail,userType,jobTitle,accountEnabled",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#auditlogs/directoryaudits",
                                                "value": [
                                                    {
                                                        "businessPhones": [],
                                                        "displayName": "Conf Room Adams",
                                                        "givenName": null,
                                                        "jobTitle": null,
                                                        "mail": "Adams@contoso.com",
                                                        "mobilePhone": null,
                                                        "officeLocation": null,
                                                        "preferredLanguage": null,
                                                        "surname": null,
                                                        "userPrincipalName": "Adams@contoso.com",
                                                        "id": "6ea91a8d-e32e-41a1-b7bd-d2d185eed0e0"
                                                    },
                                                    {
                                                        "businessPhones": [
                                                            "425-555-0100"
                                                        ],
                                                        "displayName": "MOD Administrator",
                                                        "givenName": "MOD",
                                                        "jobTitle": null,
                                                        "mail": null,
                                                        "mobilePhone": "425-555-0101",
                                                        "officeLocation": null,
                                                        "preferredLanguage": "en-US",
                                                        "surname": "Administrator",
                                                        "userPrincipalName": "admin@contoso.com",
                                                        "id": "4562bcc8-c436-4f95-b7c0-4f8ce89dca5e"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    },

                    "500": {
                        "description": "Server error"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "graph_auth_obo": [
                            "https://graph.microsoft.com/.default"
                        ]
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "graph_auth_obo": {
                "type": "oauth2",
                "flows": {
                    "clientCredentials": {
                        "tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
                        "scopes": {
                            "https://graph.microsoft.com/.default": "Access Microsoft Graph using application or delegated permissions"
                        }
                    }
                }
            }
        },
        "schemas": {
            "DirectoryAudit": {
                "type": "object",
                "properties": {
                    "@odata.context": {
                        "type": "string",
                        "example": "https://graph.microsoft.com/v1.0/$metadata#groups"
                    },
                    "value": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "The unique identifier for the directory audit log."
                                },
                                "category": {
                                    "type": "string",
                                    "description": "The category of the activity."
                                },
                                "correlationId": {
                                    "type": "string",
                                    "description": "The correlation ID for the activity."
                                },
                                "result": {
                                    "type": "string",
                                    "description": "The result of the activity."
                                },
                                "resultReason": {
                                    "type": "string",
                                    "description": "The reason for the result."
                                },
                                "activityDisplayName": {
                                    "type": "string",
                                    "description": "The display name of the activity."
                                },
                                "activityDateTime": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The date and time when the activity occurred."
                                },
                                "loggedByService": {
                                    "type": "string",
                                    "description": "The service that logged the activity."
                                },
                                "initiatedBy": {
                                    "type": "object",
                                    "properties": {
                                        "user": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "description": "The unique identifier for the user."
                                                },
                                                "displayName": {
                                                    "type": "string",
                                                    "description": "The display name of the user."
                                                },
                                                "userPrincipalName": {
                                                    "type": "string",
[...]
