{
    "openapi": "3.0.1",
    "info": {
        "title": "Microsoft Graph API for Group Management",
        "description": "API endpoints for managing groups in Microsoft Graph.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://graph.microsoft.com/v1.0",
            "description": "Microsoft Graph Base URL"
        }
    ],
    "paths": {
        "/auditLogs/directoryAudits": {
            "get": {
                "summary": "Get directory audits",
                "description": "Retrieve a list of directory audit objects.",
                "operationId": "Entra_Groups_GetAuditLogs",
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "required": false,
                        "description": "Filter items by property values.",
                        "schema": {
                            "type": "string",
                            "example": "activityDisplayName eq 'Add member to group' and targetResources/any(r:r/type eq 'User') and targetResources/any(r:r/id eq '<group-id>' and r/type eq 'Group')",
                            "enum": [],
                            "x-enumDescriptions" : {}                
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "required": false,
                        "description": "Order items by property values.",
                        "schema": {
                            "type": "string",
                            "example": "activityDateTime desc",
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "description": "Show only the first n items.",
                        "schema": {
                            "type": "integer",
                            "example": 1,
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "If successful, this method returns a 200 OK response code and a collection of directory audit objects in the response body.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "items": {
                                        "$ref": "#/components/schemas/DirectoryAudit"
                                    }
                                },
                                "examples": [
                                    {
                                        "summary": "When was the last user added to a group?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/auditLogs/directoryAudits?$filter=activityDisplayName eq 'Add member to group' and targetResources/any(r:r/type eq 'User') and targetResources/any(r:r/id eq '<group-id>' and r/type eq 'Group')&$orderBy=activityDateTime desc&$top=1",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#auditlogs/directoryaudits",
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "activityDateTime": "2023-12-01T16:03:35Z",
                                                        "activityDisplayName": "Add member to group",
                                                        "initiatedBy": {
                                                            "user": {
                                                                "id": "67890",
                                                                "displayName": "John Doe",
                                                                "userPrincipalName": "johndoe@contoso.com"
                                                            }
                                                        },
                                                        "targetResources": [
                                                            {
                                                                "id": "11223",
                                                                "displayName": "Group A",
                                                                "type": "Group"
                                                            },
                                                            {
                                                                "id": "44556",
                                                                "displayName": "Jane Smith",
                                                                "type": "User"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Who added users to a group?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/auditLogs/directoryAudits?$filter=activityDisplayName eq 'Add member to group' and targetResources/any(r:r/type eq 'User') and targetResources/any(r:r/id eq '<group-id>' and r/type eq 'Group')&$orderBy=activityDateTime desc&$top=5",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#auditlogs/directoryaudits",
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "activityDateTime": "2023-12-01T16:03:35Z",
                                                        "activityDisplayName": "Add member to group",
                                                        "initiatedBy": {
                                                            "user": {
                                                                "id": "67890",
                                                                "displayName": "John Doe",
                                                                "userPrincipalName": "johndoe@contoso.com"
                                                            }
                                                        },
                                                        "targetResources": [
                                                            {
                                                                "id": "11223",
                                                                "displayName": "Group A",
                                                                "type": "Group"
                                                            },
                                                            {
                                                                "id": "44556",
                                                                "displayName": "Jane Smith",
                                                                "type": "User"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "graph_auth_obo": [
                            "https://graph.microsoft.com/.default"
                        ]
                    }
                ]
            }
        },
        "/directory/deletedItems/graph.group": {
            "get": {
                "summary": "Get deleted groups",
                "description": "Retrieve a list of deleted group objects.",
                "operationId": "Entra_Groups_DeletedGroupsList",
                "parameters": [
                    {
                        "name": "$count",
                        "in": "query",
                        "required": false,
                        "description": "Include count of items.",
                        "schema": {
                            "type": "boolean",
                            "example": true,
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "required": false,
                        "description": "Select specific fields to return.",
                        "schema": {
                            "type": "string",
                            "example": "id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime,deletedDateTime",
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "required": false,
                        "description": "Order items by property values.",
                        "schema": {
                            "type": "string",
                            "example": "deletedDateTime desc",
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "description": "Show only the first n items.",
                        "schema": {
                            "type": "integer",
                            "example": 10,
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "If successful, this method returns a 200 OK response code and a collection of deleted group objects in the response body.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "items": {
                                        "$ref": "#/components/schemas/Group"
                                    }
                                },
                                "examples": [
                                    {
                                        "summary": "Get last 10 deleted groups",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/directory/deletedItems/graph.group?$count=true&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime,deletedDateTime&$orderBy=deletedDateTime desc&$top=10",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName,deletedDateTime)",
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "displayName": "Group A",
                                                        "description": "Description of Group A",
                                                        "mail": "groupA@contoso.com",
                                                        "groupTypes": [ "Unified" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z",
                                                        "deletedDateTime": "2024-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "graph_auth_obo": [
                            "https://graph.microsoft.com/.default"
                        ]
                    }
                ]
            }
        },
        "/groups": {
            "get": {
                "summary": "Get groups",
                "description": "Retrieve a list of groups.",
                "operationId": "Entra_Groups_GetGroups",
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "required": false,
                        "description": "Filter items by property values.",
                        "schema": {
                            "type": "string",
                            "example": "displayName eq 'GroupName'",
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "required": false,
                        "description": "Select specific fields to return.",
                        "schema": {
                            "type": "string",
                            "example": "id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    },
                    {
                        "name": "$count",
                        "in": "query",
                        "required": false,
                        "description": "Include a count of the total number of items in the collection.",
                        "schema": {
                            "type": "boolean",
                            "example": true,
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "required": false,
                        "description": "Order items by property values.",
                        "schema": {
                            "type": "string",
                            "example": "createdDateTime desc",
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "description": "Show only the first n items.",
                        "schema": {
                            "type": "integer",
                            "example": 10,
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    },
                    {
                        "name": "$search",
                        "in": "query",
                        "required": false,
                        "description": "Search for items by property values.",
                        "schema": {
                            "type": "string",
                            "example": "displayName:GroupName",
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "items": {
                                        "$ref": "#/components/schemas/Groups"
                                    }
                                },
                                "examples": [
                                    {
                                        "summary": "Count all the groups in my org",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups",
                                                "@odata.count": 2
                                            }
                                        }
                                    },
                                    {
                                        "summary": "How many groups are in the tenant?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups",
                                                "@odata.count": 2
                                            }
                                        }
                                    },
                                    {
                                        "summary": "How many security groups are there?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$filter=securityEnabled eq true",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups",
                                                "@odata.count": 2
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Count all security groups I have in my org",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$filter=securityEnabled eq true",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups",
                                                "@odata.count": 2
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Are there any stale user groups",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$filter=expirationDateTime le <TODAY>&$select=id,displayName,description,mail,groupTypes,membershipRule,membershipRuleProcessingState,securityEnabled,createdDateTime,expirationDateTime,renewedDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "displayName": "M365Group",
                                                        "description": "This is a sample M365 group.",
                                                        "mail": "m365group@contoso.com",
                                                        "groupTypes": [ "Unified" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "what are all the expired groups?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$filter=expirationDateTime le <TODAY>&$select=id,displayName,description,mail,groupTypes,membershipRule,membershipRuleProcessingState,securityEnabled,createdDateTime,expirationDateTime,renewedDateTimegroups?$count=true&$filter=expirationDateTime le <TODAY>&$select=id,displayName,description,mail,groupTypes,membershipRule,membershipRuleProcessingState,securityEnabled,createdDateTime,expirationDateTime,renewedDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "displayName": "OwnerlessGroup",
                                                        "description": "This group has no owners.",
                                                        "mail": "ownerlessgroup@contoso.com",
                                                        "groupTypes": [ "Unified" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "which rules are affecting \"GroupName\" group?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$filter=groupTypes/any(t:t eq 'DynamicMembership')&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,membershipRule,membershipRuleProcessingState,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "displayName": "OwnerlessGroup",
                                                        "description": "This group has no owners.",
                                                        "mail": "ownerlessgroup@contoso.com",
                                                        "groupTypes": [ "Unified" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "List all the membership rules for the GroupName dynamic group",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$filter=groupTypes/any(t:t eq 'DynamicMembership')&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,membershipRule,membershipRuleProcessingState,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "displayName": "OwnerlessGroup",
                                                        "description": "This group has no owners.",
                                                        "mail": "ownerlessgroup@contoso.com",
                                                        "groupTypes": [ "Unified" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "get the dynamic group rules for group GroupName",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$filter=groupTypes/any(t:t eq 'DynamicMembership')&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,membershipRule,membershipRuleProcessingState,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "displayName": "OwnerlessGroup",
                                                        "description": "This group has no owners.",
                                                        "mail": "ownerlessgroup@contoso.com",
                                                        "groupTypes": [ "Unified" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "what is the status of group GroupName?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$filter=groupTypes/any(t:t eq 'DynamicMembership')&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,membershipRule,membershipRuleProcessingState,securityEnabled,createdDateTime,expirationDateTime,renewedDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "displayName": "OwnerlessGroup",
                                                        "description": "This group has no owners.",
                                                        "mail": "ownerlessgroup@contoso.com",
                                                        "groupTypes": [ "Unified" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Is the processing state for dynamic group GroupName ok?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$filter=groupTypes/any(t:t eq 'DynamicMembership')&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,membershipRule,membershipRuleProcessingState,securityEnabled,createdDateTime,expirationDateTime,renewedDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "displayName": "OwnerlessGroup",
                                                        "description": "This group has no owners.",
                                                        "mail": "ownerlessgroup@contoso.com",
                                                        "groupTypes": [ "Unified" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Get all dynamic groups",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$filter=groupTypes/any(t:t eq 'DynamicMembership')&$select=id,displayName,description,mail,groupTypes,membershipRule,membershipRuleProcessingState,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "displayName": "DynamicGroup",
                                                        "description": "This is a sample dynamic group.",
                                                        "mail": "dynamicgroup@contoso.com",
                                                        "groupTypes": [ "DynamicMembership" ],
                                                        "membershipRule": "user.department -eq 'Sales'",
                                                        "membershipRuleProcessingState": "On",
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "list all groups with dynamic type",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$filter=groupTypes/any(t:t eq 'DynamicMembership')&$select=id,displayName,description,mail,groupTypes,membershipRule,membershipRuleProcessingState,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "displayName": "DynamicGroup",
                                                        "description": "This is a sample dynamic group.",
                                                        "mail": "dynamicgroup@contoso.com",
                                                        "groupTypes": [ "DynamicMembership" ],
                                                        "membershipRule": "user.department -eq 'Sales'",
                                                        "membershipRuleProcessingState": "On",
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "list all m365 groups",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$filter=groupTypes/any(t:t eq 'Unified')&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "displayName": "DynamicGroup",
                                                        "description": "This is a sample dynamic group.",
                                                        "mail": "dynamicgroup@contoso.com",
                                                        "groupTypes": [ "DynamicMembership" ],
                                                        "membershipRule": "user.department -eq 'Sales'",
                                                        "membershipRuleProcessingState": "On",
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "what are the unified groups in my tenant?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$filter=groupTypes/any(t:t eq 'Unified')&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "displayName": "DynamicGroup",
                                                        "description": "This is a sample dynamic group.",
                                                        "mail": "dynamicgroup@contoso.com",
                                                        "groupTypes": [ "DynamicMembership" ],
                                                        "membershipRule": "user.department -eq 'Sales'",
                                                        "membershipRuleProcessingState": "On",
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "are there any groups without owners?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$filter=owners/$count eq 0&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "displayName": "DynamicGroup",
                                                        "description": "This is a sample dynamic group.",
                                                        "mail": "dynamicgroup@contoso.com",
                                                        "groupTypes": [ "DynamicMembership" ],
                                                        "membershipRule": "user.department -eq 'Sales'",
                                                        "membershipRuleProcessingState": "On",
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "List all ownerless groups in my tenant",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$filter=owners/$count eq 0&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "displayName": "DynamicGroup",
                                                        "description": "This is a sample dynamic group.",
                                                        "mail": "dynamicgroup@contoso.com",
                                                        "groupTypes": [ "DynamicMembership" ],
                                                        "membershipRule": "user.department -eq 'Sales'",
                                                        "membershipRuleProcessingState": "On",
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Get all groups with WriteBack enabled",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$filter=writebackConfiguration/isEnabled eq true or (writebackConfiguration/isEnabled ne false and groupTypes/any(x:x eq 'Unified'))&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime,writebackConfiguration",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "displayName": "WriteBackGroup",
                                                        "description": "This group has WriteBack enabled.",
                                                        "mail": "writebackgroup@contoso.com",
                                                        "groupTypes": [ "Unified" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z",
                                                        "writebackConfiguration": {
                                                            "isEnabled": true
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Get all groups with WriteBack disabled",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$filter=writebackConfiguration/isEnabled eq false or (writebackConfiguration/isEnabled ne true and not (groupTypes/any(x:x eq 'Unified')))&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime,writebackConfiguration",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "displayName": "WriteBackGroup",
                                                        "description": "This group has WriteBack enabled.",
                                                        "mail": "writebackgroup@contoso.com",
                                                        "groupTypes": [ "Unified" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z",
                                                        "writebackConfiguration": {
                                                            "isEnabled": true
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "search for group by name",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$search=\"displayName:<name>\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "displayName": "WriteBackGroup",
                                                        "description": "This group has WriteBack enabled.",
                                                        "mail": "writebackgroup@contoso.com",
                                                        "groupTypes": [ "Unified" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z",
                                                        "writebackConfiguration": {
                                                            "isEnabled": true
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "are there any groups that are direct members of the GroupName group?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "displayName": "WriteBackGroup",
                                                        "description": "This group has WriteBack enabled.",
                                                        "mail": "writebackgroup@contoso.com",
                                                        "groupTypes": [ "Unified" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z",
                                                        "writebackConfiguration": {
                                                            "isEnabled": true
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "how many members are in group GroupName?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0groups?$count=true&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "displayName": "WriteBackGroup",
                                                        "description": "This group has WriteBack enabled.",
                                                        "mail": "writebackgroup@contoso.com",
                                                        "groupTypes": [ "Unified" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z",
                                                        "writebackConfiguration": {
                                                            "isEnabled": true
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "are the devices in the group GroupName compliant?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "displayName": "WriteBackGroup",
                                                        "description": "This group has WriteBack enabled.",
                                                        "mail": "writebackgroup@contoso.com",
                                                        "groupTypes": [ "Unified" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z",
                                                        "writebackConfiguration": {
                                                            "isEnabled": true
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Can you get me a list of all devices that are part of the group called 'GroupName'",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "device1",
                                                        "displayName": "Device 1",
                                                        "model": "Model 1",
                                                        "operatingSystem": "OS 1",
                                                        "operatingSystemVersion": "1.0",
                                                        "accountEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z",
                                                        "deviceOwnership": "Company",
                                                        "isCompliant": true
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Who are the group members of AD group GroupName? Do GroupName have any nested groups?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "group1",
                                                        "displayName": "Group 1",
                                                        "description": "This is a sample group.",
                                                        "mail": "group1@contoso.com",
                                                        "groupTypes": [ "Unified" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Do GroupName have any nested groups?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "group1",
                                                        "displayName": "Group 1",
                                                        "description": "This is a sample group.",
                                                        "mail": "group1@contoso.com",
                                                        "groupTypes": [ "Unified" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Does group GroupName have any servicePrincipals in it?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "sp1",
                                                        "displayName": "Service Principal 1"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Are servicePrincipals contained in GroupName group?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "sp1",
                                                        "displayName": "Service Principal 1"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": " How many Service Principals are in this group GroupName?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "sp1",
                                                        "displayName": "Service Principal 1"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Does group GroupName have any users in it?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "user1",
                                                        "displayName": "User 1",
                                                        "userPrincipalName": "user1@contoso.com",
                                                        "mail": "user1@contoso.com",
                                                        "userType": "Member",
                                                        "jobTitle": "Software Engineer",
                                                        "accountEnabled": true
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "How many people are in this group? GroupName",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "user1",
                                                        "displayName": "User 1",
                                                        "userPrincipalName": "user1@contoso.com",
                                                        "mail": "user1@contoso.com",
                                                        "userType": "Member",
                                                        "jobTitle": "Software Engineer",
                                                        "accountEnabled": true
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Count all the users member of GroupName group",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "user1",
                                                        "displayName": "User 1",
                                                        "userPrincipalName": "user1@contoso.com",
                                                        "mail": "user1@contoso.com",
                                                        "userType": "Member",
                                                        "jobTitle": "Software Engineer",
                                                        "accountEnabled": true
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "List of users within group GroupName.",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "user1",
                                                        "displayName": "User 1",
                                                        "userPrincipalName": "user1@contoso.com",
                                                        "mail": "user1@contoso.com",
                                                        "userType": "Member",
                                                        "jobTitle": "Software Engineer",
                                                        "accountEnabled": true
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": " Get all user members for GroupName group.",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "user1",
                                                        "displayName": "User 1",
                                                        "userPrincipalName": "user1@contoso.com",
                                                        "mail": "user1@contoso.com",
                                                        "userType": "Member",
                                                        "jobTitle": "Software Engineer",
                                                        "accountEnabled": true
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": " Which are the users part of GroupName group? ",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "user1",
                                                        "displayName": "User 1",
                                                        "userPrincipalName": "user1@contoso.com",
                                                        "mail": "user1@contoso.com",
                                                        "userType": "Member",
                                                        "jobTitle": "Software Engineer",
                                                        "accountEnabled": true
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Get users contained in group GroupName",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "user1",
                                                        "displayName": "User 1",
                                                        "userPrincipalName": "user1@contoso.com",
                                                        "mail": "user1@contoso.com",
                                                        "userType": "Member",
                                                        "jobTitle": "Software Engineer",
                                                        "accountEnabled": true
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Is user mail@domain.com part of the group GroupName?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups",
                                                "@odata.count": 1396
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Is mail@domain.com member of GroupName group?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups",
                                                "@odata.count": 1396
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Does GroupName group contain the user mail@domain.com?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$search=\"displayName:GroupName\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups",
                                                "@odata.count": 1396
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Check these groups: GroupName1 GroupName2 GroupName3",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$search=\"displayName:GroupName1\" OR \"displayName:GroupName2\" OR \"displayName:GroupName3\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "group1",
                                                        "displayName": "Group 1",
                                                        "description": "This is a sample group.",
                                                        "mail": "group1@contoso.com",
                                                        "groupTypes": [ "Unified" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Show me all the groups with video in the name or description",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$search=\"displayName:video\" OR \"description:video\"&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "group1",
                                                        "displayName": "Video Group",
                                                        "description": "This group is related to video.",
                                                        "mail": "videogroup@contoso.com",
                                                        "groupTypes": [ "Unified" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Return the id and proxyAddresses of expired unified groups",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$select=id,proxyAddresses&$filter=expirationDateTime le <TODAY> and groupTypes/any(t:t eq 'Unified')",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "group1",
                                                        "proxyAddresses": [ "SMTP:group1@contoso.com" ]
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Give me id, mail and expiration date of the group 'GroupName'",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$count=true&$select=id,displayName,mail,expirationDateTime&$search=\"displayName:GroupName\"",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "group1",
                                                        "displayName": "GroupName",
                                                        "mail": "groupname@contoso.com",
                                                        "expirationDateTime": "2024-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Groups with an assigned license",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$filter=assignedLicenses/$count ne 0&$count=true",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "group1",
                                                        "displayName": "Licensed Group",
                                                        "description": "This group has an assigned license.",
                                                        "mail": "licensedgroup@contoso.com",
                                                        "groupTypes": [ "Unified" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "List all the standard roles attached to the group GroupName.",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$filter=displayName eq 'GroupName'&$expand=transitiveMemberOf/graph.directoryRole&$select=id,displayName",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "group1",
                                                        "displayName": "GroupName",
                                                        "description": "This group has standard roles assigned.",
                                                        "mail": "groupname@contoso.com",
                                                        "groupTypes": [ "Unified" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "What are all the standard roles assigned to members of group GroupName?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$filter=displayName eq 'GroupName'&$expand=transitiveMemberOf/graph.directoryRole&$select=id,displayName",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "group1",
                                                        "displayName": "GroupName",
                                                        "description": "This group has standard roles assigned.",
                                                        "mail": "groupname@contoso.com",
                                                        "groupTypes": [ "Unified" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Get all dynamic groups",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$filter=groupTypes/any(t:t eq 'DynamicMembership')",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "group1",
                                                        "displayName": "Dynamic Group",
                                                        "description": "This is a dynamic group.",
                                                        "mail": "dynamicgroup@contoso.com",
                                                        "groupTypes": [ "DynamicMembership" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "summary": "list all m365 groups",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups?$filter=groupTypes/any(t:t eq 'Unified')",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)",
                                                "value": [
                                                    {
                                                        "id": "group1",
                                                        "displayName": "Dynamic Group",
                                                        "description": "This is a dynamic group.",
                                                        "mail": "dynamicgroup@contoso.com",
                                                        "groupTypes": [ "DynamicMembership" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "graph_auth_obo": [
                            "https://graph.microsoft.com/.default"
                        ]
                    }
                ]
            }
        },
        "/groups/{group-id}/members/graph.group": {
            "get": {
                "summary": "Get nested groups",
                "description": "Retrieve a list of nested group objects.",
                "operationId": "Entra_Groups_ListGraphGroup",
                "parameters": [
                    {
                        "name": "group-id",
                        "in": "path",
                        "required": true,
                        "description": "The unique identifier for the group.",
                        "schema": {
                            "type": "string",
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    },
                    {
                        "name": "$count",
                        "in": "query",
                        "required": false,
                        "description": "Include count of items.",
                        "schema": {
                            "type": "boolean",
                            "example": true,
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "required": false,
                        "description": "Select specific fields to return.",
                        "schema": {
                            "type": "string",
                            "example": "id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "If successful, this method returns a 200 OK response code and a collection of nested group objects in the response body.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "items": {
                                        "$ref": "#/components/schemas/Groups"
                                    }
                                },
                                "examples": [
                                    {
                                        "summary": "Does group <group-id> have nested groups?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups/group1/members/graph.group/$count",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups",
                                                "@odata.count": 1396
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Are there any groups that are direct members of <group-id> group?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://graph.microsoft.com/v1.0/groups/group1/members/graph.group?$count=true&$select=id,displayName,description,mail,groupTypes,securityEnabled,createdDateTime",
                                            "response": {
                                                "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#groups",
                                                "@odata.count": 1396,
                                                "value": [
                                                    {
                                                        "id": "12345",
                                                        "displayName": "Group A",
                                                        "description": "Description of Group A",
                                                        "mail": "groupA@contoso.com",
                                                        "groupTypes": [ "Unified" ],
                                                        "securityEnabled": true,
                                                        "createdDateTime": "2023-01-01T00:00:00Z"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "graph_auth_obo": [
                            "https://graph.microsoft.com/.default"
                        ]
                    }
                ]
            }
        },
        "/groups/{group-id}/members": {
            "get": {
                "summary": "Get group members",
[...]
