{
    "openapi": "3.0.1",
    "info": {
        "title": "Azure Firewall Management API",
        "version": "2024-03-01",
        "description": "API for managing Azure Firewalls in a specified subscription and resource group."
    },
    "servers": [
        {
            "url": "https://management.azure.com",
            "description": "Azure Management Base URL"
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/azureFirewalls/{azureFirewallName}": {
            "get": {
                "summary": "Get Azure Firewall",
                "description": "Retrieve details of a specified Azure Firewall within a subscription and resource group.",
                "operationId": "Intune_GetAzureFirewall",
                "parameters": [
                    {
                        "name": "azureFirewallName",
                        "in": "path",
                        "description": "The name of the Azure Firewall.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [],
                            "x-enumDescriptions": {}
                        }
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "The name of the resource group.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [],
                            "x-enumDescriptions": {
                            }
                        }
                    },
                    {
                        "name": "subscriptionId",
                        "in": "path",
                        "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [],
                            "x-enumDescriptions": {
                            }
                        }
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "description": "Client API version.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "2024-03-01",
                            "enum": [ "2024-03-01" ],
                            "x-enumDescriptions": {
                                "2024-03-01": "The API version for March 2024."
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request successful. The operation returns an AzureFirewall resource.",
                        "content": {
                            "application/json": {
                                "type": "object",
                                "schema": {
                                    "$ref": "#/components/schemas/AzureFirewall"
                                },
                                "examples": [
                                    {
                                        "summary": "Tell me about the Firewall fw in Resource Group rg and Subscription subId",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall?api-version=2024-03-01",
                                            "response": {
                                                "name": "azurefirewall",
                                                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall",
                                                "type": "Microsoft.Network/azureFirewalls",
                                                "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                                                "location": "West US",
                                                "zones": [],
                                                "tags": {
                                                    "key1": "value1"
                                                },
                                                "properties": {
                                                    "provisioningState": "Succeeded",
                                                    "sku": {
                                                        "name": "AZFW_VNet",
                                                        "tier": "Standard"
                                                    },
                                                    "threatIntelMode": "Alert",
                                                    "ipConfigurations": [
                                                        {
                                                            "name": "azureFirewallIpConfiguration",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/ipConfigurations/azureFirewallIpConfiguration",
                                                            "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                                                            "properties": {
                                                                "provisioningState": "Succeeded",
                                                                "privateIPAddress": "10.0.0.0",
                                                                "subnet": {
                                                                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet"
                                                                },
                                                                "publicIPAddress": {
                                                                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName"
                                                                }
                                                            }
                                                        }
                                                    ],
                                                    "applicationRuleCollections": [
                                                        {
                                                            "name": "apprulecoll",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/applicationRuleCollections/apprulecoll",
                                                            "properties": {
                                                                "priority": 110,
                                                                "action": {
                                                                    "type": "Deny"
                                                                },
                                                                "rules": [
                                                                    {
                                                                        "name": "rule1",
                                                                        "description": "Deny inbound rule",
                                                                        "protocols": [
                                                                            {
                                                                                "protocolType": "Https",
                                                                                "port": 443
                                                                            }
                                                                        ],
                                                                        "targetFqdns": [
                                                                            "www.test.com"
                                                                        ],
                                                                        "sourceAddresses": [
                                                                            "216.58.216.164",
                                                                            "10.0.0.0/24"
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ],
                                                    "natRuleCollections": [
                                                        {
                                                            "name": "natrulecoll",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/natRuleCollections/natrulecoll",
                                                            "properties": {
                                                                "priority": 112,
                                                                "action": {
                                                                    "type": "Dnat"
                                                                },
                                                                "rules": [
                                                                    {
                                                                        "name": "DNAT-HTTPS-traffic",
                                                                        "description": "D-NAT all outbound web traffic for inspection",
                                                                        "sourceAddresses": [
                                                                            "*"
                                                                        ],
                                                                        "destinationAddresses": [
                                                                            "1.2.3.4"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "443"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ],
                                                                        "translatedAddress": "1.2.3.5",
                                                                        "translatedPort": "8443"
                                                                    },
                                                                    {
                                                                        "name": "DNAT-HTTP-traffic-With-FQDN",
                                                                        "description": "D-NAT all inbound web traffic for inspection",
                                                                        "sourceAddresses": [
                                                                            "*"
                                                                        ],
                                                                        "destinationAddresses": [
                                                                            "1.2.3.4"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "80"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ],
                                                                        "translatedFqdn": "internalhttpserver",
                                                                        "translatedPort": "880"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ],
                                                    "networkRuleCollections": [
                                                        {
                                                            "name": "netrulecoll",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/networkRuleCollections/netrulecoll",
                                                            "properties": {
                                                                "priority": 112,
                                                                "action": {
                                                                    "type": "Deny"
                                                                },
                                                                "rules": [
                                                                    {
                                                                        "name": "L4-traffic",
                                                                        "description": "Block traffic based on source IPs and ports",
                                                                        "sourceAddresses": [
                                                                            "192.168.1.1-192.168.1.12",
                                                                            "10.1.4.12-10.1.4.255"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "443-444",
                                                                            "8443"
                                                                        ],
                                                                        "destinationAddresses": [
                                                                            "*"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ]
                                                                    },
                                                                    {
                                                                        "name": "L4-traffic-with-FQDN",
                                                                        "description": "Block traffic based on source IPs and ports to amazon",
                                                                        "sourceAddresses": [
                                                                            "10.2.4.12-10.2.4.255"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "443-444",
                                                                            "8443"
                                                                        ],
                                                                        "destinationFqdns": [
                                                                            "www.amazon.com"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ],
                                                    "ipGroups": [],
                                                    "additionalProperties": {},
                                                    "autoscaleConfiguration": {
                                                        "minCapacity": 10,
                                                        "maxCapacity": 15
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    {
                                        "summary": "What location is this Firewall deployed in?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall?api-version=2024-03-01",
                                            "response": {
                                                "name": "azurefirewall",
                                                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall",
                                                "type": "Microsoft.Network/azureFirewalls",
                                                "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                                                "location": "West US",
                                                "zones": [],
                                                "tags": {
                                                    "key1": "value1"
                                                },
                                                "properties": {
                                                    "provisioningState": "Succeeded",
                                                    "sku": {
                                                        "name": "AZFW_VNet",
                                                        "tier": "Standard"
                                                    },
                                                    "threatIntelMode": "Alert",
                                                    "ipConfigurations": [
                                                        {
                                                            "name": "azureFirewallIpConfiguration",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/ipConfigurations/azureFirewallIpConfiguration",
                                                            "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                                                            "properties": {
                                                                "provisioningState": "Succeeded",
                                                                "privateIPAddress": "10.0.0.0",
                                                                "subnet": {
                                                                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet"
                                                                },
                                                                "publicIPAddress": {
                                                                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName"
                                                                }
                                                            }
                                                        }
                                                    ],
                                                    "applicationRuleCollections": [
                                                        {
                                                            "name": "apprulecoll",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/applicationRuleCollections/apprulecoll",
                                                            "properties": {
                                                                "priority": 110,
                                                                "action": {
                                                                    "type": "Deny"
                                                                },
                                                                "rules": [
                                                                    {
                                                                        "name": "rule1",
                                                                        "description": "Deny inbound rule",
                                                                        "protocols": [
                                                                            {
                                                                                "protocolType": "Https",
                                                                                "port": 443
                                                                            }
                                                                        ],
                                                                        "targetFqdns": [
                                                                            "www.test.com"
                                                                        ],
                                                                        "sourceAddresses": [
                                                                            "216.58.216.164",
                                                                            "10.0.0.0/24"
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ],
                                                    "natRuleCollections": [
                                                        {
                                                            "name": "natrulecoll",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/natRuleCollections/natrulecoll",
                                                            "properties": {
                                                                "priority": 112,
                                                                "action": {
                                                                    "type": "Dnat"
                                                                },
                                                                "rules": [
                                                                    {
                                                                        "name": "DNAT-HTTPS-traffic",
                                                                        "description": "D-NAT all outbound web traffic for inspection",
                                                                        "sourceAddresses": [
                                                                            "*"
                                                                        ],
                                                                        "destinationAddresses": [
                                                                            "1.2.3.4"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "443"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ],
                                                                        "translatedAddress": "1.2.3.5",
                                                                        "translatedPort": "8443"
                                                                    },
                                                                    {
                                                                        "name": "DNAT-HTTP-traffic-With-FQDN",
                                                                        "description": "D-NAT all inbound web traffic for inspection",
                                                                        "sourceAddresses": [
                                                                            "*"
                                                                        ],
                                                                        "destinationAddresses": [
                                                                            "1.2.3.4"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "80"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ],
                                                                        "translatedFqdn": "internalhttpserver",
                                                                        "translatedPort": "880"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ],
                                                    "networkRuleCollections": [
                                                        {
                                                            "name": "netrulecoll",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/networkRuleCollections/netrulecoll",
                                                            "properties": {
                                                                "priority": 112,
                                                                "action": {
                                                                    "type": "Deny"
                                                                },
                                                                "rules": [
                                                                    {
                                                                        "name": "L4-traffic",
                                                                        "description": "Block traffic based on source IPs and ports",
                                                                        "sourceAddresses": [
                                                                            "192.168.1.1-192.168.1.12",
                                                                            "10.1.4.12-10.1.4.255"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "443-444",
                                                                            "8443"
                                                                        ],
                                                                        "destinationAddresses": [
                                                                            "*"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ]
                                                                    },
                                                                    {
                                                                        "name": "L4-traffic-with-FQDN",
                                                                        "description": "Block traffic based on source IPs and ports to amazon",
                                                                        "sourceAddresses": [
                                                                            "10.2.4.12-10.2.4.255"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "443-444",
                                                                            "8443"
                                                                        ],
                                                                        "destinationFqdns": [
                                                                            "www.amazon.com"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ],
                                                    "ipGroups": [],
                                                    "additionalProperties": {},
                                                    "autoscaleConfiguration": {
                                                        "minCapacity": 10,
                                                        "maxCapacity": 15
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Is the Firewall configured for multiple availability zones? If so, how many?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall?api-version=2024-03-01",
                                            "response": {
                                                "name": "azurefirewall",
                                                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall",
                                                "type": "Microsoft.Network/azureFirewalls",
                                                "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                                                "location": "West US 2",
                                                "zones": [
                                                    "1",
                                                    "2",
                                                    "3"
                                                ],
                                                "tags": {
                                                    "key1": "value1"
                                                },
                                                "properties": {
                                                    "provisioningState": "Succeeded",
                                                    "sku": {
                                                        "name": "AZFW_VNet",
                                                        "tier": "Standard"
                                                    },
                                                    "threatIntelMode": "Alert",
                                                    "ipConfigurations": [
                                                        {
                                                            "name": "azureFirewallIpConfiguration",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/ipConfigurations/azureFirewallIpConfiguration",
                                                            "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                                                            "properties": {
                                                                "provisioningState": "Succeeded",
                                                                "privateIPAddress": "10.0.0.0",
                                                                "subnet": {
                                                                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet"
                                                                },
                                                                "publicIPAddress": {
                                                                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName"
                                                                }
                                                            }
                                                        }
                                                    ],
                                                    "applicationRuleCollections": [
                                                        {
                                                            "name": "apprulecoll",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/applicationRuleCollections/apprulecoll",
                                                            "properties": {
                                                                "priority": 110,
                                                                "action": {
                                                                    "type": "Deny"
                                                                },
                                                                "rules": [
                                                                    {
                                                                        "name": "rule1",
                                                                        "description": "Deny inbound rule",
                                                                        "protocols": [
                                                                            {
                                                                                "protocolType": "Https",
                                                                                "port": 443
                                                                            }
                                                                        ],
                                                                        "targetFqdns": [
                                                                            "www.test.com"
                                                                        ],
                                                                        "sourceAddresses": [
                                                                            "216.58.216.164",
                                                                            "10.0.0.0/24"
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ],
                                                    "natRuleCollections": [
                                                        {
                                                            "name": "natrulecoll",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/natRuleCollections/natrulecoll",
                                                            "properties": {
                                                                "priority": 112,
                                                                "action": {
                                                                    "type": "Dnat"
                                                                },
                                                                "rules": [
                                                                    {
                                                                        "name": "DNAT-HTTPS-traffic",
                                                                        "description": "D-NAT all outbound web traffic for inspection",
                                                                        "sourceAddresses": [
                                                                            "*"
                                                                        ],
                                                                        "destinationAddresses": [
                                                                            "1.2.3.4"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "443"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ],
                                                                        "translatedAddress": "1.2.3.5",
                                                                        "translatedPort": "8443"
                                                                    },
                                                                    {
                                                                        "name": "DNAT-HTTP-traffic-With-FQDN",
                                                                        "description": "D-NAT all inbound web traffic for inspection",
                                                                        "sourceAddresses": [
                                                                            "*"
                                                                        ],
                                                                        "destinationAddresses": [
                                                                            "1.2.3.4"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "80"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ],
                                                                        "translatedFqdn": "internalhttpserver",
                                                                        "translatedPort": "880"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ],
                                                    "networkRuleCollections": [
                                                        {
                                                            "name": "netrulecoll",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/networkRuleCollections/netrulecoll",
                                                            "properties": {
                                                                "priority": 112,
                                                                "action": {
                                                                    "type": "Deny"
                                                                },
                                                                "rules": [
                                                                    {
                                                                        "name": "L4-traffic",
                                                                        "description": "Block traffic based on source IPs and ports",
                                                                        "sourceAddresses": [
                                                                            "192.168.1.1-192.168.1.12",
                                                                            "10.1.4.12-10.1.4.255"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "443-444",
                                                                            "8443"
                                                                        ],
                                                                        "destinationAddresses": [
                                                                            "*"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ]
                                                                    },
                                                                    {
                                                                        "name": "L4-traffic-with-FQDN",
                                                                        "description": "Block traffic based on source IPs and ports to amazon",
                                                                        "sourceAddresses": [
                                                                            "10.2.4.12-10.2.4.255"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "443-444",
                                                                            "8443"
                                                                        ],
                                                                        "destinationFqdns": [
                                                                            "www.amazon.com"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ],
                                                    "ipGroups": [],
                                                    "additionalProperties": {}
                                                }
                                            }
                                        }
                                    },
                                    {
                                        "summary": "What are the tags on this Firewall instance?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall?api-version=2024-03-01",
                                            "response": {
                                                "name": "azurefirewall",
                                                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall",
                                                "type": "Microsoft.Network/azureFirewalls",
                                                "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                                                "location": "West US",
                                                "zones": [],
                                                "tags": {
                                                    "key1": "value1"
                                                },
                                                "properties": {
                                                    "provisioningState": "Succeeded",
                                                    "sku": {
                                                        "name": "AZFW_VNet",
                                                        "tier": "Standard"
                                                    },
                                                    "threatIntelMode": "Alert",
                                                    "ipConfigurations": [
                                                        {
                                                            "name": "azureFirewallIpConfiguration",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/ipConfigurations/azureFirewallIpConfiguration",
                                                            "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                                                            "properties": {
                                                                "provisioningState": "Succeeded",
                                                                "privateIPAddress": "10.0.0.0",
                                                                "subnet": {
                                                                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet"
                                                                },
                                                                "publicIPAddress": {
                                                                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName"
                                                                }
                                                            }
                                                        }
                                                    ],
                                                    "applicationRuleCollections": [
                                                        {
                                                            "name": "apprulecoll",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/applicationRuleCollections/apprulecoll",
                                                            "properties": {
                                                                "priority": 110,
                                                                "action": {
                                                                    "type": "Deny"
                                                                },
                                                                "rules": [
                                                                    {
                                                                        "name": "rule1",
                                                                        "description": "Deny inbound rule",
                                                                        "protocols": [
                                                                            {
                                                                                "protocolType": "Https",
                                                                                "port": 443
                                                                            }
                                                                        ],
                                                                        "targetFqdns": [
                                                                            "www.test.com"
                                                                        ],
                                                                        "sourceAddresses": [
                                                                            "216.58.216.164",
                                                                            "10.0.0.0/24"
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ],
                                                    "natRuleCollections": [
                                                        {
                                                            "name": "natrulecoll",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/natRuleCollections/natrulecoll",
                                                            "properties": {
                                                                "priority": 112,
                                                                "action": {
                                                                    "type": "Dnat"
                                                                },
                                                                "rules": [
                                                                    {
                                                                        "name": "DNAT-HTTPS-traffic",
                                                                        "description": "D-NAT all outbound web traffic for inspection",
                                                                        "sourceAddresses": [
                                                                            "*"
                                                                        ],
                                                                        "destinationAddresses": [
                                                                            "1.2.3.4"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "443"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ],
                                                                        "translatedAddress": "1.2.3.5",
                                                                        "translatedPort": "8443"
                                                                    },
                                                                    {
                                                                        "name": "DNAT-HTTP-traffic-With-FQDN",
                                                                        "description": "D-NAT all inbound web traffic for inspection",
                                                                        "sourceAddresses": [
                                                                            "*"
                                                                        ],
                                                                        "destinationAddresses": [
                                                                            "1.2.3.4"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "80"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ],
                                                                        "translatedFqdn": "internalhttpserver",
                                                                        "translatedPort": "880"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ],
                                                    "networkRuleCollections": [
                                                        {
                                                            "name": "netrulecoll",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/networkRuleCollections/netrulecoll",
                                                            "properties": {
                                                                "priority": 112,
                                                                "action": {
                                                                    "type": "Deny"
                                                                },
                                                                "rules": [
                                                                    {
                                                                        "name": "L4-traffic",
                                                                        "description": "Block traffic based on source IPs and ports",
                                                                        "sourceAddresses": [
                                                                            "192.168.1.1-192.168.1.12",
                                                                            "10.1.4.12-10.1.4.255"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "443-444",
                                                                            "8443"
                                                                        ],
                                                                        "destinationAddresses": [
                                                                            "*"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ]
                                                                    },
                                                                    {
                                                                        "name": "L4-traffic-with-FQDN",
                                                                        "description": "Block traffic based on source IPs and ports to amazon",
                                                                        "sourceAddresses": [
                                                                            "10.2.4.12-10.2.4.255"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "443-444",
                                                                            "8443"
                                                                        ],
                                                                        "destinationFqdns": [
                                                                            "www.amazon.com"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ],
                                                    "ipGroups": [],
                                                    "additionalProperties": {},
                                                    "autoscaleConfiguration": {
                                                        "minCapacity": 10,
                                                        "maxCapacity": 15
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    {
                                        "summary": "What SKU Firewall is this?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall?api-version=2024-03-01",
                                            "response": {
                                                "name": "azurefirewall",
                                                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall",
                                                "type": "Microsoft.Network/azureFirewalls",
                                                "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                                                "location": "West US",
                                                "zones": [],
                                                "tags": {
                                                    "key1": "value1"
                                                },
                                                "properties": {
                                                    "provisioningState": "Succeeded",
                                                    "sku": {
                                                        "name": "AZFW_VNet",
                                                        "tier": "Standard"
                                                    },
                                                    "threatIntelMode": "Alert",
                                                    "ipConfigurations": [
                                                        {
                                                            "name": "azureFirewallIpConfiguration",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/ipConfigurations/azureFirewallIpConfiguration",
                                                            "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                                                            "properties": {
                                                                "provisioningState": "Succeeded",
                                                                "privateIPAddress": "10.0.0.0",
                                                                "subnet": {
                                                                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet"
                                                                },
                                                                "publicIPAddress": {
                                                                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName"
                                                                }
                                                            }
                                                        }
                                                    ],
                                                    "applicationRuleCollections": [
                                                        {
                                                            "name": "apprulecoll",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/applicationRuleCollections/apprulecoll",
                                                            "properties": {
                                                                "priority": 110,
                                                                "action": {
                                                                    "type": "Deny"
                                                                },
                                                                "rules": [
                                                                    {
                                                                        "name": "rule1",
                                                                        "description": "Deny inbound rule",
                                                                        "protocols": [
                                                                            {
                                                                                "protocolType": "Https",
                                                                                "port": 443
                                                                            }
                                                                        ],
                                                                        "targetFqdns": [
                                                                            "www.test.com"
                                                                        ],
                                                                        "sourceAddresses": [
                                                                            "216.58.216.164",
                                                                            "10.0.0.0/24"
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ],
                                                    "natRuleCollections": [
                                                        {
                                                            "name": "natrulecoll",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/natRuleCollections/natrulecoll",
                                                            "properties": {
                                                                "priority": 112,
                                                                "action": {
                                                                    "type": "Dnat"
                                                                },
                                                                "rules": [
                                                                    {
                                                                        "name": "DNAT-HTTPS-traffic",
                                                                        "description": "D-NAT all outbound web traffic for inspection",
                                                                        "sourceAddresses": [
                                                                            "*"
                                                                        ],
                                                                        "destinationAddresses": [
                                                                            "1.2.3.4"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "443"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ],
                                                                        "translatedAddress": "1.2.3.5",
                                                                        "translatedPort": "8443"
                                                                    },
                                                                    {
                                                                        "name": "DNAT-HTTP-traffic-With-FQDN",
                                                                        "description": "D-NAT all inbound web traffic for inspection",
                                                                        "sourceAddresses": [
                                                                            "*"
                                                                        ],
                                                                        "destinationAddresses": [
                                                                            "1.2.3.4"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "80"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ],
                                                                        "translatedFqdn": "internalhttpserver",
                                                                        "translatedPort": "880"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ],
                                                    "networkRuleCollections": [
                                                        {
                                                            "name": "netrulecoll",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/networkRuleCollections/netrulecoll",
                                                            "properties": {
                                                                "priority": 112,
                                                                "action": {
                                                                    "type": "Deny"
                                                                },
                                                                "rules": [
                                                                    {
                                                                        "name": "L4-traffic",
                                                                        "description": "Block traffic based on source IPs and ports",
                                                                        "sourceAddresses": [
                                                                            "192.168.1.1-192.168.1.12",
                                                                            "10.1.4.12-10.1.4.255"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "443-444",
                                                                            "8443"
                                                                        ],
                                                                        "destinationAddresses": [
                                                                            "*"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ]
                                                                    },
                                                                    {
                                                                        "name": "L4-traffic-with-FQDN",
                                                                        "description": "Block traffic based on source IPs and ports to amazon",
                                                                        "sourceAddresses": [
                                                                            "10.2.4.12-10.2.4.255"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "443-444",
                                                                            "8443"
                                                                        ],
                                                                        "destinationFqdns": [
                                                                            "www.amazon.com"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ],
                                                    "ipGroups": [],
                                                    "additionalProperties": {},
                                                    "autoscaleConfiguration": {
                                                        "minCapacity": 10,
                                                        "maxCapacity": 15
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Is the Firewall successfully provisioned?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall?api-version=2024-03-01",
                                            "response": {
                                                "name": "azurefirewall",
                                                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall",
                                                "type": "Microsoft.Network/azureFirewalls",
                                                "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                                                "location": "West US",
                                                "zones": [],
                                                "tags": {
                                                    "key1": "value1"
                                                },
                                                "properties": {
                                                    "provisioningState": "Succeeded",
                                                    "sku": {
                                                        "name": "AZFW_VNet",
                                                        "tier": "Standard"
                                                    },
                                                    "threatIntelMode": "Alert",
                                                    "ipConfigurations": [
                                                        {
                                                            "name": "azureFirewallIpConfiguration",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/ipConfigurations/azureFirewallIpConfiguration",
                                                            "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                                                            "properties": {
                                                                "provisioningState": "Succeeded",
                                                                "privateIPAddress": "10.0.0.0",
                                                                "subnet": {
                                                                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet"
                                                                },
                                                                "publicIPAddress": {
                                                                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName"
                                                                }
                                                            }
                                                        }
                                                    ],
                                                    "applicationRuleCollections": [
                                                        {
                                                            "name": "apprulecoll",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/applicationRuleCollections/apprulecoll",
                                                            "properties": {
                                                                "priority": 110,
                                                                "action": {
                                                                    "type": "Deny"
                                                                },
                                                                "rules": [
                                                                    {
                                                                        "name": "rule1",
                                                                        "description": "Deny inbound rule",
                                                                        "protocols": [
                                                                            {
                                                                                "protocolType": "Https",
                                                                                "port": 443
                                                                            }
                                                                        ],
                                                                        "targetFqdns": [
                                                                            "www.test.com"
                                                                        ],
                                                                        "sourceAddresses": [
                                                                            "216.58.216.164",
                                                                            "10.0.0.0/24"
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ],
                                                    "natRuleCollections": [
                                                        {
                                                            "name": "natrulecoll",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/natRuleCollections/natrulecoll",
                                                            "properties": {
                                                                "priority": 112,
                                                                "action": {
                                                                    "type": "Dnat"
                                                                },
                                                                "rules": [
                                                                    {
                                                                        "name": "DNAT-HTTPS-traffic",
                                                                        "description": "D-NAT all outbound web traffic for inspection",
                                                                        "sourceAddresses": [
                                                                            "*"
                                                                        ],
                                                                        "destinationAddresses": [
                                                                            "1.2.3.4"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "443"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ],
                                                                        "translatedAddress": "1.2.3.5",
                                                                        "translatedPort": "8443"
                                                                    },
                                                                    {
                                                                        "name": "DNAT-HTTP-traffic-With-FQDN",
                                                                        "description": "D-NAT all inbound web traffic for inspection",
                                                                        "sourceAddresses": [
                                                                            "*"
                                                                        ],
                                                                        "destinationAddresses": [
                                                                            "1.2.3.4"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "80"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ],
                                                                        "translatedFqdn": "internalhttpserver",
                                                                        "translatedPort": "880"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ],
                                                    "networkRuleCollections": [
                                                        {
                                                            "name": "netrulecoll",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/networkRuleCollections/netrulecoll",
                                                            "properties": {
                                                                "priority": 112,
                                                                "action": {
                                                                    "type": "Deny"
                                                                },
                                                                "rules": [
                                                                    {
                                                                        "name": "L4-traffic",
                                                                        "description": "Block traffic based on source IPs and ports",
                                                                        "sourceAddresses": [
                                                                            "192.168.1.1-192.168.1.12",
                                                                            "10.1.4.12-10.1.4.255"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "443-444",
                                                                            "8443"
                                                                        ],
                                                                        "destinationAddresses": [
                                                                            "*"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ]
                                                                    },
                                                                    {
                                                                        "name": "L4-traffic-with-FQDN",
                                                                        "description": "Block traffic based on source IPs and ports to amazon",
                                                                        "sourceAddresses": [
                                                                            "10.2.4.12-10.2.4.255"
                                                                        ],
                                                                        "destinationPorts": [
                                                                            "443-444",
                                                                            "8443"
                                                                        ],
                                                                        "destinationFqdns": [
                                                                            "www.amazon.com"
                                                                        ],
                                                                        "protocols": [
                                                                            "TCP"
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ],
                                                    "ipGroups": [],
                                                    "additionalProperties": {},
                                                    "autoscaleConfiguration": {
                                                        "minCapacity": 10,
                                                        "maxCapacity": 15
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    {
                                        "summary": "Is threat intel enabled on this Firewall?",
                                        "value": {
                                            "request": {},
                                            "requestUrl": "https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall?api-version=2024-03-01",
                                            "response": {
                                                "name": "azurefirewall",
                                                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall",
                                                "type": "Microsoft.Network/azureFirewalls",
                                                "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                                                "location": "West US",
                                                "zones": [],
                                                "tags": {
                                                    "key1": "value1"
                                                },
                                                "properties": {
                                                    "provisioningState": "Succeeded",
                                                    "sku": {
                                                        "name": "AZFW_VNet",
                                                        "tier": "Standard"
                                                    },
                                                    "threatIntelMode": "Alert",
                                                    "ipConfigurations": [
                                                        {
                                                            "name": "azureFirewallIpConfiguration",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/ipConfigurations/azureFirewallIpConfiguration",
                                                            "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                                                            "properties": {
                                                                "provisioningState": "Succeeded",
                                                                "privateIPAddress": "10.0.0.0",
                                                                "subnet": {
                                                                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet"
                                                                },
                                                                "publicIPAddress": {
                                                                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName"
                                                                }
                                                            }
                                                        }
                                                    ],
                                                    "applicationRuleCollections": [
                                                        {
                                                            "name": "apprulecoll",
                                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall/applicationRuleCollections/apprulecoll",
                                                            "properties": {
                                                                "priority": 110,
                                                                "action": {
                                                                    "type": "Deny"
                                                                },
                                                                "rules": [
                                                                    {
                                                                        "name": "rule1",
                                                                        "description": "Deny inbound rule",
                                                                        "protocols": [
                                                                            {
                                                                                "protocolType": "Https",
                                                                                "port": 443
                                                                            }
                                                                        ],
                                                                        "targetFqdns": [
                                                                            "www.test.com"
                                                                        ],
                                                                        "sourceAddresses": [
                                                                            "216.58.216.164",
                                                                            "10.0.0.0/24"
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ],
[...]
